<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 400px;height: 400px">
    <div class="card-body" style="height: 100%">
      <h2 class="card-title text-center">Iniciar Sesión</h2>
      <form [formGroup]="authForm" style="height: 100%">
        <div class="form-group mb-3">
          <label for="username" class="row">Nombre de Usuario</label>
          <input type="email" matInput class="form-control" id="username" formControlName="email" placeholder="Ingrese su usuario" autocomplete="off">
          <div *ngIf="authForm.get('email')?.value?.length > 0" class="valid-invalid d-flex">
            <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{authForm.get('email')?.valid ? "check" : "cancel"}}</i>
            <div [ngClass]="{ 'VALID': authForm.get('email')?.valid, 'INVALID': authForm.get('email')?.invalid }" class="mx-2">Email válido</div>
          </div>
        </div>
        <div class="form-group mb-3" style="height: 20%">
          <label for="password" class="row">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña" autocomplete="off">
          <div *ngIf="authForm.get('password')?.value?.length > 0" class="valid-invalid d-flex">
            <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{authForm.get('password')?.valid ? "check" : "cancel"}}</i>
            <div [ngClass]="{ 'VALID': authForm.get('password')?.valid, 'INVALID': authForm.get('password')?.invalid }" class="mx-2">Password válido</div>
          </div>
        </div>
        <div class="text-center">
          <button mat-button class="mat-button-base fx-align-center" type="submit" style="width: 350px" (click)="login()">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
