<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 400px;height: 400px">
    <div class="card-body" style="height: 100%">
      <h2 class="card-title text-center">Cambiar contraseña</h2>
      <form [formGroup]="sentChangePasswordForm" style="height: 100%">
        <div class="form-group mb-3" style="height: 20%">
          <label for="email" class="row">Ingresa tu correo electronico</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingrese su contraseña" autocomplete="off">
          <div *ngIf="sentChangePasswordForm.get('email')?.value?.length > 0" class="valid-invalid d-flex">
            <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{sentChangePasswordForm.get('email')?.valid ? "check" : "cancel"}}</i>
            <div [ngClass]="{ 'VALID': sentChangePasswordForm.get('email')?.valid, 'INVALID': sentChangePasswordForm.get('email')?.invalid }" class="mx-2">Password válido</div>
          </div>
        </div>
        <div class="text-center">
          <button mat-button class="mat-button-base fx-align-center" (click)="sentChangePassword()">Cambiar contraseña</button>
        </div>
      </form>
    </div>
  </div>
</div>
