<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 400px;height: 400px">
    <div class="card-body" style="height: 100%">
      <h2 class="card-title text-center">Iniciar Sesión</h2>
      <form [formGroup]="changePasswordForm" style="height: 100%">
        <div class="form-group mb-3">
          <label for="username" class="row">Email</label>
          <input type="email" matInput class="form-control" id="username" formControlName="email" placeholder="Ingrese su usuario" autocomplete="off">
          <div *ngIf="changePasswordForm.get('email')?.value?.length > 0" class="valid-invalid d-flex">
            <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{changePasswordForm.get('email')?.valid ? "check" : "cancel"}}</i>
            <div [ngClass]="{ 'VALID': changePasswordForm.get('email')?.valid, 'INVALID': changePasswordForm.get('email')?.invalid }" class="mx-2">Email válido</div>
          </div>
        </div>

        <div class="form-group mb-3" style="height: 20%">
          <label for="password" class="row">Contraseña Antigua</label>
          <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" placeholder="Ingrese su contraseña" autocomplete="off">
          <div *ngIf="changePasswordForm.get('oldPassword')?.value?.length > 0" class="valid-invalid d-flex">
            <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{changePasswordForm.get('oldPassword')?.valid ? "check" : "cancel"}}</i>
            <div [ngClass]="{ 'VALID': changePasswordForm.get('oldPassword')?.valid, 'INVALID': changePasswordForm.get('oldPassword')?.invalid }" class="mx-2">Password válido</div>
          </div>
        </div>

        <div class="form-group mb-3" style="height: 20%">
          <label for="password" class="row">Nueva Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="newPassword" placeholder="Ingrese su contraseña" autocomplete="off">
          <div *ngIf="changePasswordForm.get('newPassword')?.value?.length > 0" class="valid-invalid d-flex">
            <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{changePasswordForm.get('newPassword')?.valid ? "check" : "cancel"}}</i>
            <div [ngClass]="{ 'VALID': changePasswordForm.get('newPassword')?.valid, 'INVALID': changePasswordForm.get('newPassword')?.invalid }" class="mx-2">Password válido</div>
          </div>
        </div>
        <div class="text-center">
          <button mat-button class="mat-button-base fx-align-center" (click)="changePassword()">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
