<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 400px;height: 400px">
    <div class="card-body" style="height: 100%">
      <h2 class="card-title text-center">Crear cuenta</h2>
      <form [formGroup]="signupForm" style="height: 100%">
        <div class="form-group mb-3">
          <div class="form-group mb-3">
            <label for="name" class="row">Nombre de Usuario</label>
            <input type="text" matInput class="form-control" id="name" formControlName="name" placeholder="Ingrese su nombre" autocomplete="off">
            <div *ngIf="signupForm.get('name')?.value?.length > 0" class="valid-invalid d-flex">
              <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{signupForm.get('name')?.valid ? "check" : "cancel"}}</i>
              <div [ngClass]="{ 'VALID': signupForm.get('name')?.valid, 'INVALID': signupForm.get('name')?.invalid }" class="mx-2">Nombre valido</div>
            </div>
          </div>

          <label for="username" class="row">Email</label>
          <input type="email" matInput class="form-control" id="username" formControlName="email" placeholder="Ingrese su usuario" autocomplete="off">
          <div *ngIf="signupForm.get('email')?.value?.length > 0" class="valid-invalid d-flex">
            <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{signupForm.get('email')?.valid ? "check" : "cancel"}}</i>
            <div [ngClass]="{ 'VALID': signupForm.get('email')?.valid, 'INVALID': signupForm.get('email')?.invalid }" class="mx-2">Email válido</div>
          </div>
        </div>
        <div class="form-group mb-3" style="height: 20%">
          <label for="password" class="row">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña" autocomplete="off">
          <div *ngIf="signupForm.get('password')?.value?.length > 0" class="valid-invalid d-flex">
            <i class="material-icons valid-invalid-icon-cancel" style="margin-top:5px;font-size: 15px;">{{signupForm.get('password')?.valid ? "check" : "cancel"}}</i>
            <div [ngClass]="{ 'VALID': signupForm.get('password')?.valid, 'INVALID': signupForm.get('password')?.invalid }" class="mx-2">Password válido</div>
          </div>
        </div>

        <div class="text-center">
          <button mat-button class="mat-button-base" (click)="signup()">Crear usuario</button>
        </div>
      </form>
    </div>
  </div>
</div>
